{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build/mutator/infection.log",
        "summary": "build/mutator/summary.log",
        "debug": "build/mutator/debug.log",
        "perMutator": "build/mutator/per-mutator.md",
    },
    "testFramework":"phpunit",
    "mutators": {
        "@default": true
    }
}