{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "customPath": "."
    },
    "logs": {
        "text": "build/mutator/infection.log",
        "summary": "build/mutator/summary.log",
        "debug": "build/mutator/debug.log",
        "perMutator": "build/mutator/per-mutator.md",
        "badge": {
            "branch": "master"
        }
    },
    "testFramework":"phpspec",
    "mutators": {
        "@default": true
    }
}